body {
  background-color: #eee;
}

.box {
  position: relative;
  left: 50px;
  top: 50px;
  width: 100px;
  height: 100px;
  background-color: white;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  /* Se puede usar con cualquier propiedad y se activa cuando se realiza una acción.
  Por ejemplo, cuando se pasa el mouse por encima (hover) */
  /* opción (opcional), duración, delay (opcional) */
  /* transition: width 0.3s; */
  /* En caso no se indique la opción se tomarán todas */
  transition: 0.3s 0.5s;
  /* Delay en una opción aparte */
  /* transition-delay: 0.3s; */
}

.box:hover {
  /* width: 150px; */
  transform: scale(1.05, 1.05);
  background-color: rgba(0, 0, 0, 0.1);
}
